# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: mattheworganisation
# "service" is the name of this project. This will also be added to your AWS resource names.
service: MyAppBackend

provider:
  name: aws
  runtime: python3.12
  region: eu-west-2
  iam:
    role:
      statements:
        - Effect: 'Allow'
          Action:
            - 'dynamodb:PutItem'
            - 'dynamodb:Get*'
            - 'dynamodb:Scan*'
            - 'dynamodb:UpdateItem'
            - 'dynamodb:DeleteItem'
          Resource: 
            - arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/${self:service}-Table-${sls:stage}
  environment:
    DYNAMODB_TABLE: ${self:service}-Table-${sls:stage}


resources:
  Resources:
    Table:
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Retain
      Properties:
        TableName: ${self:service}-Table-${sls:stage}
        BillingMode: PAY_PER_REQUEST

        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
          - AttributeName: USER
            AttributeType: S
        
        KeySchema:
          - AttributeName: PK
            KeyType: HASH    # partition key
          - AttributeName: SK
            KeyType: RANGE   # sort key
        
        GlobalSecondaryIndexes:
          - IndexName: USER
            KeySchema:
              - AttributeName: USER
                KeyType: HASH
            Projection:
              ProjectionType: ALL


functions:
  apihandler:
    handler: corepython.handlers.apihandler.apihandler
    events:
      - http:
          path: /api
          method: any
          cors: true
      - http:
          path: /api/{urlpath}
          method: any
          cors: true
  viewhandler:
    handler: corepython.handlers.viewhandler.viewhandler
    events:
      - http:
          path: /view
          method: any
          cors: true
      - http:
          path: /view/{urlpath}
          method: any
          cors: true
  
  webhandler:
    handler: bootstrap
    runtime: provided.al2023
    package:
      artifact: corego/webhandler/bootstrap.zip
    events:
      - http:
          path: /web
          method: any
          cors: true
      - http:
          path: /web/{urlpath}
          method: any
          cors: true


plugins:
  - serverless-python-requirements
 
custom:
  pythonRequirements:
    dockerizePip: non-linux
