# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: mattheworganisation
# "service" is the name of this project. This will also be added to your AWS resource names.
service: MyAppBackend

provider:
  name: aws
  runtime: python3.12
  region: eu-west-2
  iam:
    role:
      statements:
        - Effect: 'Allow'
          Action:
            - 'dynamodb:PutItem'
            - 'dynamodb:Get*'
            - 'dynamodb:Scan*'
            - 'dynamodb:UpdateItem'
            - 'dynamodb:DeleteItem'
          Resource: 
            - arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/${self:service}-user-${sls:stage}
  environment:
    DYNAMODB_TABLE_USER: ${self:service}-user-${sls:stage}


resources: #specify deletion policies at some point
  Resources:
    UserTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        BillingMode: PAY_PER_REQUEST
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        TableName: ${self:service}-user-${sls:stage}


functions:
  apihandler:
    handler: corepython.handlers.apihandler.apihandler
    events:
      - http:
          path: /api
          method: any
          cors: true
      - http:
          path: /api/{urlpath}
          method: any
          cors: true
  viewhandler:
    handler: corepython.handlers.viewhandler.viewhandler
    events:
      - http:
          path: /view
          method: any
          cors: true
      - http:
          path: /view/{urlpath}
          method: any
          cors: true
  
  webhandler:
    handler: bootstrap
    runtime: provided.al2023
    package:
      artifact: corego/webhandler/bootstrap.zip
    events:
      - http:
          path: /web
          method: any
          cors: true
      - http:
          path: /web/{urlpath}
          method: any
          cors: true


plugins:
  - serverless-python-requirements
 
custom:
  pythonRequirements:
    dockerizePip: non-linux
